/********** EDUCATION PAGE **********/
#develop-education  .scroll-nav { display: none; }

section.education { 
    background-color: var(--blue-color);
    min-height: calc(100vh - 6.28rem);
}

.education-content {
    display: grid;
    grid-template-columns: repeat(3, 31.4%);
    justify-content: center;
    column-gap: 2rem;
    margin-top: 4rem;
}

.education-item {
    border: 2px solid var(--white-color);
    border-radius: 5px;
    background-color: var(--mid-gray-color);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: var(--dark-blue-color);
    text-align: center;
}

.education-item h3 {
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    background-color: var(--gray-color);
    border-top-right-radius: 5px;
    border-top-left-radius: 1rem;
    padding: .8rem 0;
    border-bottom: 2px solid var(--white-color);
}

.education-text {
    padding: 1rem .8rem;
    line-height: 1.4;
    font-size: 1.08rem;
    font-family: 'Libre Franklin', sans-serif;
}

.education-icon {
    display: block;
    width: 35px;
    height: 37px;
    object-fit: cover;
    margin: -1rem auto 1rem auto;
    opacity: 0;
}

.education-item:first-child { animation: education-item1 2s forwards; }
.education-item:nth-child(2) { animation: education-item2 2s forwards; }
.education-item:last-child { animation: education-item3 2s forwards; }

@keyframes education-item1 {
    0% {
        transform: translateY(50px);
        opacity: .35;
        box-shadow: none;
    }
    20% {
        box-shadow: none;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
        box-shadow: 0 0 3px var(--black-color), 0 0 0 3px var(--black-color), 0 0 0 2px var(--black-color);
    }
}
@keyframes education-item2 {
    0% {
        transform: translateY(-50px);
        opacity: .35;
    }
    50% {
        box-shadow: none;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
        box-shadow: 0 0 3px var(--black-color), 0 0 0 3px var(--black-color), 0 0 0 2px var(--black-color);
    }
}
@keyframes education-item3 {
    0% {
        transform: rotateY(180deg);
        opacity: .35;
    }
    80% {
        box-shadow: none;
    }
    100% {
        transform: rotateY(0deg);
        opacity: 1;
        box-shadow: 0 0 3px var(--black-color), 0 0 0 3px var(--black-color), 0 0 0 2px var(--black-color);
    }
}

.education-item:first-child .education-icon { animation: show-icon ease-in-out 1s 1s forwards; }
.education-item:nth-child(2) .education-icon { animation: show-icon  ease-in-out 1s 2s forwards; }
.education-item:last-child .education-icon { animation: show-icon ease-in-out 1s 3s forwards; }

@keyframes show-icon {
    from {
        opacity: 0;
        transform: rotateY(180deg);
    }
    to {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

/* Media Queries - Education */
@media(max-width: 860px) {
    .education-content {
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }

    .education-item:first-child,
    .education-item:nth-child(2) { margin-bottom: 1.8rem; }
}
/********** end EDUCATION PAGE **********/